@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(/public/Montserrat-VariableFont_wght.ttf) format('opentype');
  }
  @font-face {
    font-family: 'Oleo Script';
    src: local('Oleo Script'), url(/public/OleoScript-Regular.ttf) format('opentype');
  }
  @font-face {
    font-family: 'Work Sans';
    src: local('Work Sans'), url(/public/WorkSans-VariableFont_wght.ttf) format('opentype');
  }
  .montserrat {
    font-family: Montserrat;
}
.oleo-script {
    font-family: Oleo Script;
}
.work-sans {
  font-family: Work Sans;
}
html{
  scroll-behavior: smooth;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: #E6E6E6;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 5px;
}
 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 42px;
  height: 26px;
  background: #8B4513;
  cursor: pointer;
  border-radius: 3px;
  accent-color: #8B4513;
}
 
.slider::-moz-range-thumb {
  width: 42px;
  height: 26px;
  background: #8B4513;
  cursor: pointer;
  border-radius: 3px;
  accent-color: #8B4513;
}
.active {
  font-weight: bold;
  color: #8B4513;
}